
@model HostalManagement.Models.Registration

@{
    ViewBag.Title = "StudentCreate";
}
<form action="/Admin/StudentCreate" method="post">


    <div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Name" placeholder="Full Name" type="text" class="form-control" name="Name" tabindex="1" autofocus>

            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="fname" placeholder="Father Name" type="text" class="form-control" name="FatherName" tabindex="2">

            </div>

        </div>
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.FatherRank, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="frank" placeholder="Father Rank" type="text" class="form-control" name="FatheRank" tabindex="3">

            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CNIC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="CNIC" placeholder="XXXXX-XXXXXXX-X" type="text" class="form-control" name="CNIC" tabindex="4">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Mobile" placeholder="03XXXXXXXXX" type="text" class="form-control" name="ContactNo" tabindex="5">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="BloodGroup" placeholder="A+" type="text" class="form-control" name="BloodGroup" tabindex="6">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Email" placeholder="info@abc.com" type="email" class="form-control" name="Email" tabindex="7">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Password" placeholder="Password" type="password" class="form-control" name="Password" tabindex="8">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FamilyNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="FamilyNo" placeholder="03XXXXXXXXX" type="text" class="form-control" name="FamilyNo" tabindex="9">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="HomeAddress" placeholder="Address" type="text" class="form-control" name="HomeAddress" tabindex="10">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Institute, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Institute" placeholder="LGU" type="text" class="form-control" name="Institute" tabindex="11">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Degree, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Degree" placeholder="BSCS" type="text" class="form-control" name="Degree" tabindex="12">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DegreeSession, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="DegreeSession" placeholder="2016-2020" type="text" class="form-control" name="DegreeSession" tabindex="13">
            </div>
        </div>
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.Convience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Convience" placeholder="yes/no" type="text" class="form-control" name="Convience" tabindex="14">
            </div>
        </div>
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.VehicleNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="VehicleNo" placeholder="abc-1234" type="text" class="form-control" name="VehicleNo" tabindex="15">
            </div>
        </div>
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.LicenseNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="LicenseNo" placeholder="abc123" type="text" class="form-control" name="LicenseNo" tabindex="16">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Catagory, "Catagory", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Catagory", null, htmlAttributes: new { @class = "form-control", @id="Category",@tabindex="17" })
            </div>
        </div>
    </div>

</form>
<div class="form-group col-md-12 col-lg-6">
    <button type="button" class="btn btn-primary btn-lg btn-block" tabindex="18" id="btn-Submit">
        Register
    </button>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).on('click', '#btn-Submit', function () {
        var Name = $("#Name").val();
        var FatherName = $("#fname").val();
        //var FatherRank = $("#frank").val();
        var CNIC = $("#CNIC").val();
        var ContactNo = $("#Mobile").val();
        var Email = $("#Email").val();
        var Password = $("#Password").val();
        var FamilyNo = $("#FamilyNo").val();
        var BloodGroup = $("#BloodGroup").val();
        var HomeAddress = $("#HomeAddress").val();
        var Institute = $("#Institute").val();
        var Degree = $("#Degree").val();
        var DegreeSession = $("#DegreeSession").val();
        var Catagory= $("#Catagory").val();
        //var Convience = $("Convience").val();
        //var VehicleNo = $("#VehicleNo").val();
        //var LicenseNo = $("#LicenseNo").val();

        var CNICExp = /^[0-9+]{5}-[0-9+]{7}-[0-9]{1}$/;
        var SessionExp = /^[0-9+]{4}-[0-9+]{4}$/;
        var PasswordExp = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
        var emailExp = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var alphaExp = "^[a-zA-Z \b-]+$";
        var mobileExp = /^((\+92)|(0092))-{0,1}\d{3}-{0,1}\d{7}$|^\d{11}$|^\d{4}-\d{7}$/;
        var bloodexp = /^(A|a|B|b|AB|ab|O|o)[-+]$/;



        if (Name == null || Name == '') {
            alert('Name is Required');
            return false;
        }
        if (!Name.match(alphaExp)) {
            alert('Invalid Name ! e.g Qamar Javed Bajwa');
            return false;
        }
        if (FatherName == null || FatherName == '') {
            alert('Father Name is Required');
            return false;
        }
        if (!FatherName.match(alphaExp)) {
            alert('Invalid Name ! e.g  Javed Akhter Bajwa');
            return false;
        }
        if (CNIC == null || CNIC == '') {
            alert('CNIC is Required');
            return false;
        }
        if (!CNIC.match(CNICExp)) {
            alert('Invalid CNIC ! e.g 12345-1234567-1');
            return false;
        }
        if (ContactNo == null || ContactNo == '') {
            alert('Mobile Number is Required');
            return false;
        }
        if (!ContactNo.match(mobileExp)) {
            alert('Invalid mobile ! e.g 03121234567,00923331234567');
            return false;
        }
        if (BloodGroup == null || BloodGroup == '') {
            alert('BloodGroup is Required');
            return false;
        }
        if (!BloodGroup.match(bloodexp)) {
            alert('Invalid Format ! e.g A+,a-');
            return false;
        }
        if (Email == null || Email == '') {
            alert('Email is Required');
            return false;
        }
        if (!Email.match(emailExp)) {
            alert('Invalid Email ! e.g user@example.com');
            return false;
        }
        if (Password == null || Password == '') {
            alert('Password is Required');
            return false;
        }
        if (!Password.match(PasswordExp)) {
            alert('Invalid Password ! Valid for [6 to 20 characters which contain at least one numeric digit, one uppercase and one lowercase letter]');
            return false;
        }

        if (FamilyNo == null || FamilyNo == '') {
            alert('Family Mobile Number is Required');
            return false;
        }
        if (!FamilyNo.match(mobileExp)) {
            alert('Invalid Family Mobile ! e.g 03121234567,00923331234567');
            return false;
        }
        if (HomeAddress == null || HomeAddress == '') {
            alert('HomeAddress is Required');
            return false;
        }
        if (Institute == null || Institute == '') {
            alert('Institute is Required');
            return false;
        }
        if (!Institute.match(alphaExp)) {
            alert('Invalid Institute Name ! e.g Lahore Garrison University');
            return false;
        }
        if (Degree == null || Degree == '') {
            alert('Degree is Required');
            return false;
        }
        if (!Degree.match(alphaExp)) {
            alert('Invalid Degree ! e.g BSCS');
            return false;
        }
        if (DegreeSession == null || DegreeSession == '') {
            alert('Degree Session is Required');
            return false;
        }
        if (!DegreeSession.match(SessionExp)) {
            alert('Invalid Degree ! e.g BSCS');
            return false;
        }

        var data = new FormData();
        data.append("Name", Name);
        data.append("FatherName", FatherName);
        data.append("Email", Email);
        data.append("ContactNo", ContactNo);
        data.append("CNIC", CNIC);
        data.append("Password", Password);
        data.append("BloodGroup", BloodGroup);
        //data.append("FatherRank", FatherRank);
        data.append("FamilyNo", FamilyNo);
        data.append("HomeAddress", HomeAddress);
        data.append("Institute", Institute);
        data.append("Degree", Degree);
        data.append("DegreeSession", DegreeSession);
        data.append("Catagory", Catagory);
        //data.append("Convience", Convience);        
        //data.append("VehicleNo", VehicleNo);
        //data.append("LicenseNo", LicenseNo);
        $.ajax({
            type: "POST",
            cache: false,
            url: "/Admin/StudentCreate",
            data: data,
            processData: false,
            contentType: false,
            success: function (Rdata) {
                if (Rdata != 'error' && Rdata != 'yes') {
                    location.href = "/Admin/StudentList";
                }
                else if (Rdata == 'yes') {
                    alert("Error..! User already exist!");
                }
                else
                    alert("Database Error");
            },
        });
    });
</script>


