@model IEnumerable<HostalManagement.Models.FoodList>

@{
    ViewBag.Title = "MenuList";
}

<h2>MenuList</h2>

<p>
    @Html.ActionLink("Create New", "MenuCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Meal Type
        </th>
        <th>
            Day
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MealType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weekday.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "MenuEdit", new { id=item.FoodListId }) 
            
        </td>
    </tr>
}

</table>
